*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 9%;
    background: linear-gradient(270deg, #ffffff 0%, #c5e7ff 28.53%, #297fff 80%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#home-header{
    position: relative;
}
.logo{
    font-size: 45px;
    font-weight: 700;
    color: #005ad0;
}
#home-logo{
    color: white;
}
.navlist{
    display: flex;
}
.navlist a{
    color: rgb(141, 137, 137);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
}
.navlist a:hover{
    border-bottom: 2px solid rgb(141, 137, 137);;
}
#non-home-nav{
    background: white;
}
.home{
    height: 100%;
    width: 100%;
    min-height:100vh;
    background: linear-gradient(270deg, #ffffff 0%, #c5e7ff 28.53%, #297fff 80%);
    position: relative;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.ap-logo{
    position: inherit;
    left: 200px;
    top: -100px;
}
section{
    padding:0 15%;
    padding-top: 25px;
}
.home-text {
    position: relative;
    top: -100px;
}
.home-text h1{
    font-family: 'Oswald', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0  45px
}
.home-text p{
    color: white;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.9;
    margin-bottom: 40px;
}
.home-text a{
    display: inline-block;
    color: white;
    background: #269c90;
    border: 1px solid transparent;
    padding: 12px 30px;
    margin-right: 20px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.home-text a:hover{
   background: transparent;
   border: 1px solid white;
   transform: translateX(2px);
}
.resource{
    padding-bottom: 50px;
}
.resource-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
    margin-left: -100px;
}
.resource-text h1{
    font-size: 50px;
    font-weight: 750;
}
.resource-text p{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.resource-text ul{
    padding-left: 50px;
    font-size: 35px;
    padding-bottom: 30px;
}
.dropdown{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.dropdown.active {
    transform: translateX(10px);
}
.dropdown .arrow-icon{
    transition: transform 0.3s ease;
}
.dropdown.active .arrow-icon{
    transform: rotate(90deg);
}
.slideshow{
    max-height: 0;
    width: 1000px;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}
.dropdown.active .slideshow{
    max-height: 100%;
    overflow: hidden;
}
.link{
    font-size: 50px;
    color: black;
    font-weight: 750;
    padding-bottom: 10px;
    padding-bottom: 50px;
}
.practice-resources{
    height:100%;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}
.practice-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
    margin-left: -100px;
}
.practice-text h1, a{
    font-size: 50px;
    font-weight: 750;
    padding-bottom: 10px;
    color: black;
}
.practice-text p{
    font-size: 20px;
    padding-bottom: 20px;
}
.practice-text ul{
    padding-left: 50px;
    font-size: 35px;
    padding-bottom: 30px;
}
.practice-link{
    color: black;
}
.link-wrapper{
    max-height: 0;
    width: 1000px;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}
.dropdown.active .link-wrapper{
    max-height: 100%;
}
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #005ad0;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer-logo{
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.footer-text{
    color: white;
    font-size: 18px;
}